@charset "utf-8";

body {
  background-color: #f6f5f5;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.logo-style {
  padding-left: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  margin: 0;
}
nav ul {
  display: flex;
}

a {
  text-decoration: none;
  margin: 20px;
  font-family: "Nunito", sans-serif;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
a:active,
a:hover,
a:focus {
  color: teal;
}
.desc-pad {
  padding: 10px;
}
#home {
  color: #505050;
  font-size: 20px;
}
#home:active,
#home:hover,
#home:focus {
  color: teal;
}

.hi {
  font-family: Calibri;
  font-weight: bold;
  color: #6d6d6d;
  font-size: 22px;
}

.intro {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1a1a1a;
  font-size: 60px;
  margin: 0;
}

.desc-three {
  font-family: Calibri;
  font-weight: bold;
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
  margin-top: 20px;
}

.text-container p {
  margin: 45px 0px 25px;
}

.text-container {
  text-align: left;
  width: 50%;
  margin-left: 50px;
  margin-top: 50px;
}
.tech-style {
  font-family: calibri;
  font-weight: bold;
  font-size: 18px;
  color: #1a1a1a;
}
.emphasizing {
  font-weight: bold;
}
.btn-style {
  padding: 11px 40px;
  text-align: center;
  border-radius: 10px;
  font-family: Calibri;
  font-weight: bold;
  font-size: 14px;
  border: 1px black solid;
  cursor: pointer;
  display: inline-block;
}
.btn-style:active,
.btn-style:hover,
.btn-style:focus {
  background-color: tan;
}
#me-pic {
  margin-top: 30px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px 10px #888888;
  margin-right: 25px;
}

.motto {
  font-family: "Homemade Apple", cursive;
  font-size: 30px;
  line-height: 10px;
}
h2 {
  font-family: calibri;
}
.h-style {
  font-family: "Homemade Apple", cursive;
  font-size: 20px;
  line-height: 10px;
}
.centering {
  display: flex;
  justify-content: center;
}
.details {
  margin: 20px;
}
.details p:nth-child(1) {
  color: #1a1a1a;
  font-size: 20px;
  font-family: "Nunito" sans-serif;
  font-weight: bold;
  line-height: 10px;
}
.details p:nth-child(2),
.details p:nth-child(3),
.details p:nth-child(4),
.details p:nth-child(5),
.details p:nth-child(6) {
  color: #1a1a1a;
  font-family: "Nunito", sans-serif;
  line-height: 15px;
  font-size: 16px;
}
.about-direction {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
}
.about-container {
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 5% auto 20px auto;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #dbd5d5;
}
.project-direction {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.projects-1,
.projects-2,
.projects-3 {
  background-color: #ffffff;
  width: 25%;
  margin: 30px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: #1a1a1a;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  padding: 25px;
}

.grad {
  background-image: linear-gradient(#f6f5f5, #dbd5d5);
}
.dark-grad {
  background-image: linear-gradient(#dbd5d5, #1a1a1a);
}

h4 {
  font-family: calibri;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
  color: #1a1a1a;
}
.resize-project {
  height: 450px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px 10px #888888;
  margin: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-container p:nth-child(2) {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.i-style {
  display: flex;
  flex-direction: row;
  color: white;
  cursor: pointer;
  margin: 20px;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 1100px) {
  .projects-1,
  .projects-2,
  .projects-3 {
    width: 80%;
    margin: 30px 0;
  }
  .project-direction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .text-container p:nth-child(2) {
    line-height: 3.1rem;
  }
  .about-direction {
    display: flex;
    flex-direction: column;
  }
  #me-pic {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    margin: 10px;
    font-family: "Nunito", sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  .logo-style {
    padding-left: 3px;
  }
}
